.question {
  text-align: center;
  line-height: 1.8;
  border: 2px solid black;
  padding: 4rem;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  margin: 2rem;
  background-color: transparent;
  border: none;
}